.header {
    grid-area: h;
    border: black solid 1px;
    border-radius: 5px;
    background-color: rgb(37, 173, 159);
    position: relative;

}

.header img {
    max-width: 100px;
    position: absolute;
    top: 10px;
    left: 15px;
}