.profileInfoWrapper{
    background-color: rgb(34,34,34);
}
.request{
    font-size: 26px;
    font-weight: lighter;
}
.response{
    font-size: 30px;
    font-weight: normal;
}
.content{
    padding: 20px;
    background: rgb(21, 103, 94);
    display: flex;
    justify-content: space-around;
}
.content img{
    max-width: 300px;
}
.imageLoader{
    display: block;
}
.content .information{
    padding: 20px;
}
.contacts{
    margin-top: 10px;
    font-size: 30px;
}
.formError{
    width: 160px;
    border: 1px solid #ea5353;
    padding: 5px;
    color: #e74f4f;
}